.venv
# Ignorar archivos compilados de Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignorar configuraciones de IDE
.vscode/
.idea/

# Ignorar archivos de logs
*.log

# Ignorar archivos de base de datos SQLite
*.sqlite3